[display]
gpio_pin        = 10
matrix_rows     = 16
matrix_cols     = 16
brightness      = 64
fps             = 30
hit_zone_row    = 1

# 0 - red
# 1 - orange
# 2 - yellow 
# 3 - green
# 4 - lightblue
# 5 - blue
# 6 - purple
# 7 - pink
# 8 - white
# 9 - dim
[colors] 
hit_zone        = 9
hit_color       = 8
lane0_color     = 0
lane1_color     = 1
lane2_color     = 2
lane3_color     = 3

[game]
score_scale     = 10
num_players     = 1
song            = ../beatmaps/LetitBe.csv